    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
    #nav {
        display: flex;
        justify-content: space-evenly;
        margin: 30px;
        padding-top: 10px;
    }
    
    .navtab {
        color: black;
        font-weight: 600;
        font-size: 14px;
    }
    
    .navtab0 {
        color: black;
        font-weight: 600;
        font-size: 14px;
        margin-left: -210px;
    }
    
    .navtab img {
        margin-left: 100px;
    }
    
    .navtab1 {
        color: #15d164;
        font-weight: 500;
        font-size: 14px;
    }
    
    .navtab1 a {
        color: #15d164;
    }
    
    .navtab2 {
        margin-left: -250px;
    }
    
    .navtab2 button {
        background-color: #15d164;
        border: none;
        border-radius: 0%;
        text-align: center;
        min-height: 32px;
        min-width: 90px;
        font-size: 13px;
        font-weight: 700;
    }
    
    .title {
        margin-bottom: 100px;
    }
    
    .title button {
        background-color: #22ab59;
        font-weight: 700;
        margin-left: 410px;
        margin-top: -190px;
        font-size: 17px;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        padding: 20px;
        min-height: 30px;
        min-width: 200px;
        text-align: center;
    }
    
    .titleh1 {
        font-size: 55px;
        color: #30394d;
        margin-left: 340px;
        font-weight: bold;
        font-family: sans-serif;
    }
    
    .titlep1 {
        font-weight: 500;
        font-family: "Roboto";
        font-size: 20px;
        margin-left: 530px;
        margin-top: -155px;
    }
    
    .fix {
        margin-left: -220px;
    }
    
    .arrow {
        margin-left: 790px;
        position: absolute;
        left: -105px;
        margin-top: 78px;
    }
    
    .dashboard {
        margin-left: 1025px;
        position: absolute;
        left: -110px;
        margin-top: 80px;
    }
    
    .info {
        font-family: "Farsan", sans-serif;
        margin-left: 1025px;
        position: absolute;
        left: 30px;
        margin-top: -130px;
    }
    
    .description h1 {
        color: #303952;
        font-weight: 700;
        font-size: 45px;
        margin-top: 80px;
        margin-left: 400px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .bodyitem {
        background-color: #ffffff;
        padding-top: 20px;
    }
    
    .card {
        margin-left: 300px;
        margin-top: 50px;
        padding-top: 15px;
        text-align: center;
        background-color: #f5f7fa;
        border: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .card-body {
        background-color: #f5f7fa;
    }
    
    .card-body svg {
        display: flex;
        position: absolute;
    }
    
    .card-title {
        font-size: 20px;
        font-weight: 500
    }
    
    #footer-on {
        margin-top: 400px;
        padding-top: 50px;
        display: flex;
        justify-content: space-evenly;
        background-color: #f5f7fa;
        font-weight: 500;
    }
    
    footer {
        background-color: #f5f7fa;
    }
    
    .footerh6 h6 {
        margin-top: 70px;
        margin-left: 287px;
        font-size: 14px;
        background-color: #f5f7fa;
        font-weight: 100;
    }
    
    .footerh61 h6 {
        margin-top: 30px;
        margin-left: 287px;
        font-size: 14px;
        background-color: #f5f7fa;
        font-weight: 100;
    }
    
    .social {
        margin-left: 200px;
    }
    
    .fafa-icon {
        display: flex;
        flex-direction: row;
        margin-top: -70px;
        margin-left: 1150px;
        font-size: 14px;
        background-color: #f5f7fa;
        justify-content: space-evenly;
    }